.carousel-indicators [data-bs-target]  {
    border-radius: 100%;
    width: 10px;
    height: 10px;
    background-color: black;

}  
.carousel-control-next-icon{
    background-color: black;
}
.carousel-control-prev-icon{
    background-color: black;
}